$padding-horizontal-mobile: 100px;
$padding-horizontal-sm: 150px;
$padding-horizontal-md: 200px;
$padding-horizontal: 250px;
$dark: #211e2b;
$dark-grey: #484848;
$grey: #999999;
$light-blue: #4db4ff;
$dark-blue: #2c2c6c;
$white: #eee;