@import "styles/variables";
@import "styles/breakpoints";

.footer {
    align-items: center;
    text-align-last: center;
    left: 0px;
    bottom: 0px;
    height: 100%;
    width: auto;
    background-color: $light-blue;
    min-height: 400px;

    img:nth-child(1) {
        width: 90px;
    }


    img:nth-child(1) {
        animation-name: rotate;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

    }

    img:nth-child(1):after {
        transform: rotate(-57deg);
    }

    img:nth-child(1):before {
        transform: rotate(57deg);
    }

    @media (max-width: $desktop_xsm) {
        padding: 20px $padding-horizontal-mobile;
    }

    @media (min-width: $desktop_xsm) and (max-width: $desktop_sm) {
        padding: 20px $padding-horizontal-sm;
    }

    @media (min-width: $desktop_sm) and (max-width: $desktop_md) {
        padding: 20px $padding-horizontal-md;
    }

    img {
        @media (max-width: $desktop_xsm) {
            margin-left: -35px;
        }
    }

    &__logos {
        margin: 40px 0px !important;
    }

    &__logo {
        margin: 10px;
        padding: 10px;
        background: $dark;
        border-radius: 11px;

        svg {
            display: block;
        }
    }

    &__logo>a>svg {
        width: 25px;
        height: 25px;
    }

    ul {
        text-align: center;
        place-content: center;
        align-items: center;
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        line-height: normal;
    }

    &__copyright {
        text-align: center;
    }
}

@keyframes rotate {

    100% {
        transform: rotate(360deg);
    }
}