@import "styles/variables";
@import "styles/breakpoints";

.cards {
    display: flex;
    place-content: center;
    color: $white;

    @media (max-width: $desktop_xsm) {
        padding: 20px 15px;
    }

    @media (min-width: $desktop_xsm) and (max-width: $desktop_sm) {
        padding: 20px $padding-horizontal-sm;
    }

    @media (min-width: $desktop_sm) and (max-width: $desktop_md) {
        padding: 20px $padding-horizontal-md;
    }

    &__card {
        border-radius: 15px;
        padding: 20px 20px 60px 20px;
        background: $dark-blue;
        width: 245px;
        text-align: center;

        @media (max-width: $desktop_xsm) {
            padding: 20px 15px 60px 15px;
        }

        div:nth-child(4) {
            text-align: left !important;
        }

        &__icon {
            color: $light-blue;
            text-align: center;
        }

        &__icon svg {
            width: 2em !important;
            height: 2em !important;
        }

        &__title {
            color: $light-blue;
            text-align: center;
        }

        &__price {
            text-align: center;
            display: grid;

            &::before {
                content: 'a partir de';
                font-size: 0.5em !important;
            }
        }

        &__btn {
            border: 1px solid $light-blue  !important;
            background-color: $light-blue  !important;
            color: $white;
            margin-top: 20px !important;

            &:hover {
                border: 1px solid $light-blue  !important;
                color: $light-blue;
                background-color: unset !important;
            }
        }
    }
}